html, body{
  background-color: #bdc3c7;
}

#table{
  background-color: gray;
  height: 300px;
  padding: 20px;
}

#player{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

#player #game{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#player #pick{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 220px;
}