html, body{
  background-color: #bdc3c7;
}

#table{
  background-color: gray;
  height: 300px;
  padding: 20px;
}

#player{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}